body {
    background-color: #F4CFDF;
    margin: 0px;
}

h1 {
    margin: 0px;
    text-align: center;
    font-size: 36px;
    color: #342B4A;
    text-shadow: 1px 1px 1px #A57283;
}

.score {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.names {
    font-size: 40px;
    font-weight: 700;
    color: #342B4A;
}

.main button {
    background-color: #F7F6CF;
    margin: 5px;
    padding: 5px;
    min-height: 100px;
    min-width: 100px;
    border: 2px solid #B6D8F2;
    font-weight: 700;
    border-radius: 5px;
}

.main button:hover {
    border: 2px solid #2CCED2;
}

.main button:active {
    border: 3px solid #5784BA;
}

.main {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 10px;
}

#playerScore, #aiScore {
    text-align: center;
    margin-top: 10px;
}

#restart {
    min-height: 200px;
    min-width: 200px;
    background-color: #C54B6C;
    color: #F5F3E7;
    border: 2px solid #DC828F;
    font-size: 36px;
    margin-top: 40px;
    font-weight: 700;
    border-radius: 50%;
}

#restart:hover {
    border: 2px solid #FEC7BC;
}

#restart:active {
    border: 3px solid #8C7386;
}

.play {
    display: flex;
    justify-content: center;
}